In [2]:
import pandas as pd

In [4]:
heart_df = pd.read_csv('combinedHeartData.csv')
heart_df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,52,1,2,106,200,1,0,161,1,3.9,0,3,3,high_chance
1496,50,1,3,77,297,1,3,184,0,0.3,1,2,1,high_chance
1497,49,1,2,160,269,0,0,198,1,5.9,2,0,3,low_chance
1498,49,1,0,114,195,0,0,172,0,5.5,2,1,1,high_chance
1499,56,1,0,113,188,0,1,140,1,4.3,1,0,2,low_chance

In [5]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1500 non-null   int64
 1   sex       1500 non-null   int64
 2   cp        1500 non-null   int64
 3   trtbps    1500 non-null   int64
 4   chol      1500 non-null   int64
 5   fbs       1500 non-null   int64
 6   restecg   1500 non-null   int64
 7   thalachh  1500 non-null   int64
 8   exng      1500 non-null   int64
 9   oldpeak   1500 non-null   float64
 10  slp       1500 non-null   int64
 11  caa       1500 non-null   int64
 12  thall     1500 non-null   int64
 13  output    1500 non-null   object
dtypes: float64(1), int64(12), object(1)
memory usage: 164.2+ KB